
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


body {
    background-color: #202020; /* Couleur de fond */
    margin: 0; /* Supprime les marges par défaut du corps de la page */
    padding: 0; /* Supprime les rembourrages par défaut du corps de la page */
    display: flex; /* Utiliser Flexbox pour centrer le cadre */
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    color:#fff;
}
/* On fait en sorte que chaque élément contienne sa marge interne avec box-sizing et on retire les traits qui sont par défaut sur les liens */
* {
box-sizing: border-box;
text-decoration: none;
}

/* On modernise notre balise de navigation avec une petite ombre. On mets tous les éléments du menu les uns bien à côté des autres avec flexbox (display: flex) */
nav {
background-color: #181818;
padding: 0 20px;
border-radius: 40px;
box-shadow: 0 10px 40px #454545;
display: flex;
overflow: hidden;
overflow-x: hidden;
position: fixed; /* Position fixe pour que la barre reste en haut de la page */
width: auto; /* Occupera toute la largeur de l'écran */
top: 0; /* Collé en haut */
z-index: 999; /* Pour s'assurer que la barre est au-dessus du contenu */
left: 0; /* Centrage horizontal */
right: 0; /* Centrage horizontal */
margin: auto; /* Centrage horizontal */
margin-top: 20px
}


/* On stylise chaque élément */
.nav-item {
color: #FFF;
font-family: arial, sans-serif;
padding: 20px;
margin: 0 6px;
position: relative;
}
.nav-item2 {
    color: #FFF;
    font-family: arial, sans-serif;
    padding: 20px;
    margin: 0 6px;
    position: relative;
    margin-left: auto;
    }

/* Ici on met juste un petit élément avant chaque élément pour le rendre plus beau visuellement */
.nav-item:before {
content: "";
position: absolute;
bottom: -6px;
background-color: #dfe2ea;
height: 5px;
width: 100%;
border-radius: 8px 8px 0 0;
left: 0;
transition: .3s;
}

/* Avec les dernières nouveautés de CSS, on peut changer les propriétés des éléments selon des conditions avec not */
.nav-item:not(.is-active):hover:before {
bottom: 0;
}
.nav-item:not(.is-active):hover {
color: #333;
}

/* Stylisons notre indicateur */
.nav-indicator {
position: absolute;
left: 0;
bottom: 0;
height: 5px;
transition: .4s;
border-radius: 8px 8px 0 0;
}

/* Stylisons le titre de la page */
.page-title {
color: #83818c;
font-family: arial, sans-serif;
padding: 20px;
margin-left: auto;

}
.search {
    display: flex;
    align-items: center;
    padding: 1svh;
    border-radius: 2svh;
    margin-left: 90svh;
    margin-top: 1.8svh;
    width: 28svh;
    background-color: #212121;
  
  }
  .search-input{
    outline: none;
    border: none;
    background: transparent;
    color: rgb(92, 92, 92);
    width: 25svh;
    margin-left: 1svh;
  }