.cadre {
    border: 2px #181818; /* Bordure noire de 2 pixels */
    background-color: #181818; /* Fond noir */
    color: white; /* Texte blanc */
    width: 80%; /* Largeur de 80% de la page */
    display: flex; /* Utiliser Flexbox pour positionner les éléments */
    justify-content: space-between; /* Espace entre l'image et le texte */
    align-items: center; /* Centrer verticalement le contenu */
    padding: 20px; /* Espacement intérieur */
    box-sizing: border-box; /* Inclut les bordures et les rembourrages dans la largeur et la hauteur */
    margin-top:18svh;
}

.image {
    width: 350px; /* Largeur fixe pour l'image */
    height: 500px; /* Hauteur fixe pour l'image */
    object-fit: cover; /* Redimensionner l'image pour remplir le conteneur sans déformer */
}

.texte {
    width: 65%; /* Largeur de 50% du cadre */
}

/* Ajoute un espace de 2 lignes entre chaque titre */
.texte p {
    margin-bottom: 2em; /* Utilise 2 fois la taille de la ligne comme espace */
}