.container {
    display: flex;
    flex-direction: row;
    margin-top: 25svh;
    gap:7svh;
}

.cadre {
    background-color: #181818;
    padding: 5%;
    text-align: center;

}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: white; 
}

.boutons {
    display: flex;
    flex-direction: column; 
}

button {
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
}

button:hover {
    background-color: #6dc673;
}

